body {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color:antiquewhite;
}

.carpic {
 max-width: 35%;
 border-radius: 50%;
}

.carInfo {
 max-width: 60%;
}

.cont {
 background-color:darksalmon;
 display: block;
 margin: auto;
}

.homepageHeader {
 max-width: 80%;
 padding:  2px 0;
}

.homepageFooter {
 max-width: 35%;
}

.info {
 padding: 1%;
 display: block;
 margin-top: 1em;
}

.text {
 text-align: center;
 color: maroon;
}

.nameInfo {
 max-width: 35%;
}