body {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color:antiquewhite;
}

.homepageHeader {
 background-color:darksalmon;
 text-align: center;
 width: 50em;
 padding: 5px 10px;
 display: block;
 color: maroon;
}

.info {
 background-color:darksalmon;
 padding: auto;
 display: inline-flex;
}