body {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color:antiquewhite;
}

.homepageHeader {
 background-color:darksalmon;
 text-align: center;
 width: 75%;
 display: block;
 margin: auto;
 color: maroon;
}

.info {
 background-color:darksalmon;
 width: 20rem;
 text-align: center;
 padding: 1%;
 display: block;
 margin: 1em auto;
 color: maroon;
}