body {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color:antiquewhite;
}

.carpic {
 width: 25%;
 display
}

.homepageHeader {
 background-color:darksalmon;
 text-align: center;
 width: 80%;
 display: block;
 margin: auto;
 color: maroon;
}

.info {
 background-color:darksalmon;
 text-align: center;
 padding: 1%;
 display: block;
 margin: 1em auto;
 color: maroon;
}

.nameInfo {
 width: 35%;
}

.carInfo {
 width: 60%;
}






